.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #eee;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #545454;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #0d0d0d;
}

.sidebar .logo {
  position: absolute;
  top: 0;
  left: -10;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
  margin-left: 300px;
}
@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  #main {
    margin-left: 0;
  }
}
@media only screen and (min-width: 768px) {
  #header-nav {
    display: none;
  }
}
